.dialog__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #1D1838;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dialog__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #1D1838;
}

.dialog__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 15px 20px;
}

.card__poster {
  width: 150px;
  height: 225px;
  border-radius: 5px;
}

.dialog__genre {
  display: inline-block;
  margin-right: 4px;
}

.dialog__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.dialog__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding: 0;
}

.dialog__actions {
  width: 100%;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dialog__button {
  color: #F44366;
  font-weight: 400;
}

.mdc-dialog__title::before {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: 0;
}

@media only screen and (max-width: 600px) {
  .dialog__container {
    flex-direction: column;
  }
}