<form [formGroup]="form" (ngSubmit)="getAllFilms()">
  <mat-form-field appearance="outline" class="form__select">
    <mat-select formControlName="genre" (ngModelChange)="getAllFilms()">
      <mat-option [value]="option" *ngFor="let option of selectOptions">{{ option }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="" appearance="outline">
    <input 
      matInput 
      formControlName="query"
      placeholder="Введите название"
      (ngModelChange)="getAllFilms()"
    />
  </mat-form-field>
</form>
<ul class="list">
  <li *ngFor="let film of allFilms">
    <app-film-card 
      (toggleBestFilm)="toggleBestFilm(film.id)" 
      [film]="film" 
      [bestFilm]="bestFilm"
    />
  </li>
</ul>
<h2 class="app__title">Самый лучший фильм</h2>
<app-film-card (toggleBestFilm)="toggleBestFilm(bestFilm.id)" *ngIf="bestFilm" [film]="bestFilm"></app-film-card>
