<div class="container">
  <h2 class="app__title">Популярные фильмы</h2>
  <form class="">
    <mat-form-field class="">
      <mat-select [(value)]="selectOptions[0]" appearance="outline" class="form__select">
        <mat-option [value]="option" *ngFor="let option of selectOptions">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="">
      <input 
        matInput 
        [value]="query"
        value="Введите название"
      />
    </mat-form-field>
  </form>
  <app-film-list></app-film-list>
</div>