<mat-card class="card">
  <img mat-card-image src='../../images/{{film.id}}.jpeg' class="card__poster" alt="poster">
  <mat-card-title class="card__title">{{film.name}}</mat-card-title>
  <p class="card__text" color="dark" *ngFor="let item of film.genre">
    <span>
      {{genres[film.genre.indexOf(item)]}}
    </span>
  </p>
  <p class="card__text">
    {{film.year}}
  </p>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="favorite" (click)="chooseBest.emit()"></mat-icon>

  <!-- <button mat-button (click)="removeBest.emit()">LIKE</button>
  <button mat-button (click)="chooseBest.emit()">SHARE</button> -->
</mat-card>