<mat-card class="card">
  <img mat-card-image src='../../images/{{film.id}}.jpeg' class="card__poster" alt="poster">
  <mat-card-title class="card__title">{{film.name}}</mat-card-title>
  <ul class="card__text">
  <li *ngFor="let item of film.genre; last as isLast" class="card__genre">
    {{genres[film.genre.indexOf(item)]}}
    <span *ngIf="!isLast">
      ,
    </span>
  </li>
  </ul>
  <p class="card__text">
    {{film.year}}
  </p>
  <button mat-button aria-label="favirote icon" (click)="toggleBestFilm.emit(film.id)" class="card__button">
    <mat-icon *ngIf="bestFilm && film.id !== bestFilm.id || !bestFilm"
      aria-hidden="false"  
      fontIcon="favorite_outline"
    />
    <mat-icon *ngIf="bestFilm && film.id === bestFilm.id"
      aria-hidden="false"  
      fontIcon="favorite"
    />
  </button>
  

  <!-- <button mat-button (click)="removeBest.emit()">LIKE</button>
  <button mat-button (click)="chooseBest.emit()">SHARE</button> -->
</mat-card>